STORAGE_ACCOUNT='set_storage_account'
TASK_HUB='set_task_hub'
# number of days to apply date filter (negative -> past, positive -> future)
DAYS_BEFORE='-30'
# Can provide multiple (space separated) statuses: completed terminated canceled failed
LIST_STATUS='completed'
# Optional you can override DRY_RUN variable
# DRY_RUN='True'
# Optional you can override NO_CACHE variable
# NO_CACHE='True'
